{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P87XQXPT');</script>
        <!-- End Google Tag Manager -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6F70GHZMLJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6F70GHZMLJ');
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P87XQXPT"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <h1 class="welcome-text">Welcome &#128075;&#127998;</h1>
        <div class="directions-container">
            <h2 style="line-height: 2; color: white">Directions: For each user, enter the ID of your Spotify playlist and make the following <br>
                genre selections (in order): preferred, disliked, and an optional disliked. <br> Then, click “Generate” and find new music that both you and your friend(s) can enjoy!<h2>
        </div>
        <main>
            <form id="playlist-generator" method="GET" action="{% url 'home' %}" autocomplete="off">
                {% csrf_token %}
                <div class="user-1">
                    <h1>User 1</h1>
                    {{ form.user_1_playlist }}
                    <div class="user-1-genres">
                        <div>
                            {{ form.user_1_preferred_genre }}
                        </div>
                        <div>
                            {{ form.user_1_disliked_genre_required }}
                        </div>
                        <div>
                            {{ form.user_1_disliked_genre_optional }}
                        </div>
                    </div>
                    <img src="../../static/gold-headphones.png" height="90" width="90">
                </div>
                <div class="user-2">
                    <h1>User 2</h1>
                    {{ form.user_2_playlist }}
                    <div class="user-2-genres">
                        <div>
                            {{ form.user_2_preferred_genre }}
                        </div>
                        <div>
                            {{ form.user_2_disliked_genre_required }}
                        </div>
                        <div>
                            {{ form.user_2_disliked_genre_optional }}
                        </div>
                    </div>
                    <img src="../../static/gold-headphones.png" height="90" width="90">
                </div>
            </form>
        </main>
        <div class="generate-container">
            <input class="generate-button" form="playlist-generator" type="submit" value="Generate">
        </div>
        <div class="generated-playlist-container">
        {% if output_playlist != None %}
            <table class="generated-playlist">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for track in output_playlist %}
                    <tr>
                        <td>{{ track.0 }}</td>
                        <td>{{ track.1 }}</td>
                        <td>{{ track.2 }}</td>
                        {% if track.3 == None %}
                            <td>N/A</td>
                        {% else %}
                            <td><a href="{{ track.3 }}" target="_blank" style="color: white;">Here</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    </body>
</html>