{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="welcome-text">Welcome to Aux Cord &#128075;&#127998; </h1>
        <div class="directions-container">
            <h2 style="line-height: 2">Directions: For each user, paste the ID of your Spotify playlist and make the following <br>
                genre selections (in order): preferred, disliked, and an optional disliked. <br> Then, click “Generate” and find music that both you and your friend(s) can enjoy!<h2>
        </div>
        <main>
            <form id="playlist-generator" method="GET" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="user-1">
                    <h1>User 1</h1>
                    {{ form.user_1_playlist }}
                    <div class="user-1-genres">
                        {{ form.user_1_preferred_genre }}
                        {{ form.user_1_disliked_genre_required }}
                        {{ form.user_1_disliked_genre_optional }}
                    </div>
                    <img src="../../static/spotify-icon.png" alt="Spotify Icon">
                </div>
                <div class="user-2">
                    <h1>User 2</h1>
                    {{ form.user_2_playlist }}
                    <div class="user-2-genres">
                        {{ form.user_2_preferred_genre }}
                        {{ form.user_2_disliked_genre_required }}
                        {{ form.user_2_disliked_genre_optional }}
                    </div>
                    <img src="../../static/spotify-icon.png" alt="Spotify Icon">
                </div>
            </form>
        </main>
        <div class="generate-container">
            <input class="generate-button" form="playlist-generator" type="submit" value="Generate">
        </div>
    </body>
</html>