{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="welcome-text">Welcome &#128075;&#127998;</h1>
        <div class="directions-container">
            <h2 style="line-height: 2; color: white">Directions: For each user, enter the ID of your Spotify playlist and make the following <br>
                genre selections (in order): preferred, disliked, and an optional disliked. <br> Then, click “Generate” and find music that both you and your friend(s) can enjoy!<h2>
        </div>
        <main>
            <form id="playlist-generator" method="GET" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="user-1">
                    <h1>User 1</h1>
                    {{ form.user_1_playlist }}
                    <div class="user-1-genres">
                        <div>
                            {{ form.user_1_preferred_genre }}
                        </div>
                        <div>
                            {{ form.user_1_disliked_genre_required }}
                        </div>
                        <div>
                            {{ form.user_1_disliked_genre_optional }}
                        </div>
                    </div>
                    <img src="../../static/gold-headphones.png" height="90" width="90">
                </div>
                <div class="user-2">
                    <h1>User 2</h1>
                    {{ form.user_2_playlist }}
                    <div class="user-2-genres">
                        <div>
                            {{ form.user_2_preferred_genre }}
                        </div>
                        <div>
                            {{ form.user_2_disliked_genre_required }}
                        </div>
                        <div>
                            {{ form.user_2_disliked_genre_optional }}
                        </div>
                    </div>
                    <img src="../../static/gold-headphones.png" height="90" width="90">
                </div>
            </form>
        </main>
        <div class="generate-container">
            <input class="generate-button" form="playlist-generator" type="submit" value="Generate">
        </div>
        <div class="generated-playlist-container">
        {% if output_playlist != None %}
            <table class="generated-playlist">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for track in output_playlist %}
                    <tr>
                        <td>{{ track.0 }}</td>
                        <td>{{ track.1 }}</td>
                        <td>{{ track.2 }}</td>
                        {% if track.3 == None %}
                            <td>N/A</td>
                        {% else %}
                            <td><a href="{{ track.3 }}" target="_blank">Here</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
        <div class="audio-feature-graphs-container">
        </div>
        {% for feature in audio_features %}
            <div class="audio-feature-graphs">
                <img src="{% static 'acousticness_plot.png' %}" width="350">
                <img src="{% static 'danceability_plot.png' %}" width="350">
                <img src="{% static 'energy_plot.png' %}" width="350">
                <img src="{% static 'instrumentalness_plot.png' %}" width="350">
                <img src="{% static 'liveness_plot.png' %}" width="350">
                <img src="{% static 'speechiness_plot.png' %}" width="350">
                <img src="{% static 'valence_plot.png' %}" width="350">
            </div>
        {% endfor %}
    </body>
</html>