html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: left;
}

.welcome-text {
    padding-top: 80px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    animation: fade-in 2s ease-in-out;
}

.directions-container {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin-top: 50px;
}

form h1 {
    color: white;
}

form > div, .user-1, .user-2 {
    height: 300px;
    width: 250px;
    border: 2px solid;
    border-radius: 15px;
}

/* User 1 Styles */
.user-1 {
    background-color: black;
    border: 2px solid;
    border-color: #e7d64e;
    text-align: center;
}

.user-1-playlist-container {
    width: 180px;
    border: 4px solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.user-1-playlist-container::placeholder {
    text-align: center;
    color: black;
    opacity: 0.3;
}

.user-1-playlist-container:hover {
    cursor: pointer;
}

.user-1-genres {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* User 2 Styles */
.user-2 {
    background-color: black;
    border: 2px solid;
    border-color: #e7d64e;
    text-align: center;
}

.user-2-playlist-container {
    width: 180px;
    border: 4px solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.user-2-playlist-container::placeholder {
    text-align: center;
    color: black;
    opacity: 0.3;
}

.user-2-playlist-container:hover {
    cursor: pointer;
}

.user-2-genres {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    z-index: 1; /* Place images above other elements */
}

.generate-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.generate-button {
    border: 2px solid;
    border-color: #e7d64e;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    width: 125px;
    height: 75px;
}

.generate-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Playlist Table */
.generated-playlist-container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

table {
    width: 90%;
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: left;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(252, 252, 252, 0.15);
}

thead tr {
    background-color: gold;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: 100;
}